<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <title>NodeJS Starter Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--      CONNECTING BOOTSTRAP TO OUR PROJECT-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!--      project stylesheet link (manually created)-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--         link for the social media icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--        jquery link-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


</head>
<body>

   <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"> <!--for the dark color we have "navbar-dark bg-dark and for the fixed navbar we have "fixed-top class"-->
        <a class="navbar-brand" href="team.html">TECHADEMICS</a>
        <!--The button is for converting the navbar into hamburger form when the screen is minimised-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Here we are defining the values we want to come in the hamburger icon -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">  <!--In this list we are going to define all the value of the navbar-->
            <li class="nav-item">  <!--active is used to highlight the home tab-->
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'team' %}">Instructors Team</a>
            </li>
            <li class="nav-item dropdown">  <!--Here we have defiined the dropdown menu with this class as a single list item-->
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses Available
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">  <!--Inside this div we are going to define the components of the dropdown list-->
                    <a class="dropdown-item" href="{% url 'courses' %}">All Courses</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>
          </ul>
        </div>
   </nav>

    <!--    Content Block-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog_posts">
                    <div class="jumbotron">
                        <h3>PLEASE LOGIN!</h3>
                        <h3>(Must be a SuperUser to login. Please check Admin for issues.)</h3>
                        <pre></pre>
                            <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" name="" value="LOGIN" class="btn btn-primary">
                                <input type="hidden" name="next" value="{{next}}">
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>