{% extends 'myapp/base.html' %}

{% block body_block %}

    <h2 class="heading-styling">CONTACT US</h2>
    <h6 class="paragraph-styling">DO YOU HAVE ANY QUESTIONS? WE WOULD LIKE TO HEAR FROM YOU.</h6>

    <table class="table-styling">
        <tr class="row">
            <td class="col-12 col-xl-4 corner">
                <div class="card mb-3 card-border corner card-spacing" style="max-width: 18rem; height: 14rem">
                    <div class="card-body">
                    <h5 class="card-title card-title">CALL US</h5>
<ul>
<h6>
<li class="phone-number-styling">90899_________</li>
<li class="phone-number-styling">89475_________</li>
<li class="phone-number-styling">34092_________</li>
</h6>
</ul>
                    </div>
                </div>
            </td>
            <td class="col-12 col-xl-4">
                <div class="card mb-3 card-border card-spacing" style="max-width: 18rem; height: 14rem">
                    <div class="card-body">
                    <h5 class="card-title card-title">VISIT US</h5>
                    <p class="card-text">              
                        <pre class="bottomCellContent phone-number-styling">
E-39, Phase-9
Industrial Area,
Sector-90
Mumbai, Maharashtra,
India                   </pre>
                    </p>
                    </div>
                </div>
            </td>
            <td class="col-12 col-xl-4 corner">
                <div class="card mb-3 card-border card-spacing" style="max-width: 18rem; height: 14rem">
                    <div class="card-body">
                    <h5 class="card-title card-title">DROP MAIL</h5>
                    <p class="card-text">
                            <ul>
                                <h6>
                            <li class="phone-number-styling">user1@gmail.com</li>
                            <li class="phone-number-styling">user2@gmail.com</li>
                            <li class="phone-number-styling">user3@gmail.com</li>
                                </h6>
                            </ul>
                    </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>

{% endblock %}