{% extends 'myapp/base.html' %}

{% block body_block %}

    <table class="courseTable">
    <tr class="row">
        {% for course in courses %}
        <td class="col-12 col-sm-6 col-lg-4 spacing-course">
            <div class="card card-layout" style="width: 19rem;">
                <img src="{{course.course_pic.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a class="link-color" href="{% url 'course_detail' pk=course.pk %}">{{course.course_name}}</a></h5>
                  <p class="card-text">{{course.quotes}}</br>
                    <h6 class="card-title">PERKS:-</h6>
                    <ul>
                        <li>Highly Experienced Trainers</li>
                        <li>Training Completion Certificate</li>
                        <li>Prizes for the best Project</li>
                    </ul>
                    </p>
                  <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
                    {% if user.is_superuser %}
                        <a href="{% url 'myapp:delete_introduction' pk=course.pk %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'myapp:update_introduction' pk=course.pk %}" class="btn btn-info">Update</a>
                    {% endif %}
                </div>
            </div>
        </td>
        {% endfor %}
    </tr>
    </table>


{% endblock %}